[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cladoRcpp"]
	path = cladoRcpp
	url = https://github.com/nmatzke/cladorcpp
[submodule "rexpokit"]
	path = rexpokit
	url = https://github.com/nmatzke/rexpokit
